<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/dashboard-studenti/css/main.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="nav">
            <a class="logo" href="#" style="display: inline-block; text-decoration: none">
                <img src="/assets/dashboard-studenti/images/logo.svg" width="27px;" alt="home" style="display: inline-block;">&nbsp;&nbsp;&nbsp;GestiON
            </a>
            <div class="responsive-menu">
                <a class="nav-link responsive active" href="/">Dashboard</a>
                <a class="nav-link responsive" href="/materii">Vezi materii</a>
                <a class="nav-link responsive" href="#">Vezi note</a>
                <a class="nav-link responsive nav-button" href="#" role="button">
                    <span class="nav-button-item" id="logOutBtn">
                        Deconectare
                    </span>
                </a>
            </div>
            <img class="menu" src="/assets/dashboard-studenti/images/menu.svg" alt="menu">
        </nav>
    </div>


    <div class="container dashboard-container">
        <h3>
            Noutati
        </h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad corporis sit architecto aliquid odit, error
                    id facilis. Corporis, et velit sed aliquid nulla numquam ipsum praesentium fugiat nihil, rerum veritatis?</p>
                <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae accusantium sunt. Sapiente itaque eius praesentium maiores vitae sed eaque quae, omnis harum dicta distinctio vel saepe unde architecto aut, recusandae ad, impedit mollitia laborum? Nisi esse rem, in ad quisquam id molestias corrupti mollitia quas omnis recusandae magnam odit!</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="overlay-echipa"></div>
        <div class="container container-footer">


            <div class="footer-content row text-center">
                <div class="col-sm-4">
                    <h1>Proiect</h1>
                    <a href="">
                        Acasa
                    </a>
                    <a href="">
                        Despre
                    </a>
                    <a href="">
                        Echipa
                    </a>
                    <a href="">
                        Contact
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Mai mult</h1>
                    <a href="">
                        Logare
                    </a>
                    <a href="">
                        Inregistrare
                    </a>
                    <a href="">
                        Regulament
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Comunitate</h1>
                    <a href="">
                        Facebook
                    </a>
                    <a href="">
                        Twitter
                    </a>
                    <a href="">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/assets/dashboard-studenti/scripts/main.js"></script>
</body>

</html>