<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/materii-studenti/css/main.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="nav">
            <a class="logo" href="#" style="display: inline-block; text-decoration: none">
                <img src="/assets/materii-studenti/images/logo.svg" width="27px;" alt="home" style="display: inline-block;">&nbsp;&nbsp;&nbsp;GestiON
            </a>
            <div class="responsive-menu">
                <a class="nav-link responsive" href="/">Dashboard</a>
                <a class="nav-link responsive active" href="/materii-studenti">Materii</a>
                <a class="nav-link responsive nav-button" href="#" role="button">
                    <span class="nav-button-item" id="logOutBtn">
                        Deconectare
                    </span>
                </a>
            </div>
            <img class="menu" src="/assets/materii-studenti/images/menu.svg" alt="menu">
        </nav>
    </div>

    <div class="container dashboard-container">
        <div class="form-group">
            <label for="an">Filtreaza rezultate</label>
            <br>
            <select name="selectAn" id="selectAn">
                <option value="0" selected disabled>An</option>
                <option value="4">Toti anii</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <select name="selectSemestru" id="selectSemestru">
                <option value="0" selected disabled>Semestru</option>
                <option value="4">Toate semestrele</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <button type="button" id="filter" class="btn btn-secondary btn-sm" style="display: block; margin-top: 5px;">Filtreaza</button>
        </div>

        <div class="list-group" id="group">
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="overlay-echipa"></div>
        <div class="container container-footer">

            <div class="footer-content row text-center">
                <div class="col-sm-4">
                    <h1>Proiect</h1>
                    <a href="">
                        Acasa
                    </a>
                    <a href="">
                        Despre
                    </a>
                    <a href="">
                        Echipa
                    </a>
                    <a href="">
                        Contact
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Mai mult</h1>
                    <a href="">
                        Logare
                    </a>
                    <a href="">
                        Inregistrare
                    </a>
                    <a href="">
                        Regulament
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Comunitate</h1>
                    <a href="">
                        Facebook
                    </a>
                    <a href="">
                        Twitter
                    </a>
                    <a href="">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/assets/materii-studenti/scripts/main.js"></script>
</body>

</html>