@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

:root {
    --main-color: #29324b;
    --main-border: #1daaa0;
    --light-border: #78ded7;

    --second-color: #a6b2d6;
    --menu-item: #8089a6;
    --menu-item-active: #eee;
    --button-menu: #384363;
    --button-menu-hover: #495782;
    --button-color: #e7ebf9;

    --text-main-color: #5ddfcb;
    --text-second-color: #8e9bac;
    --text-header-color: #3a4563;
    --text-main-light: #aaefeb;
    --text-link: #5fcac3;

    --header-section: #3b4563;

    --background: #f5f9fc;

    --footer-link: #b0c1d8;
}

* {
    font-family: 'Lato', sans-serif;
}

main{
    width: 40%;
    text-align: center;
    position: absolute;
    left:30%;

}

ul{
    color:white;
    /*list-style-type: none;*/
}

li {
    font-size:20px;
    /*font: 200 20px/1.5 Lato, sans-serif;*/
    border-bottom: 1px solid #ccc;
}

li {
    text-decoration: none;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:hover {
    font-size: 30px;
    cursor: pointer;
}

#temeNetrimise, #temeNecorectate, #temeCorectate{
    color: #384363;
}

.collapsed.list-group-item.list-group-item-action.flex-column.align-items-start{
    color: white;
    background-color: #3b4563;
}

.list-group-item{
    color:white;
    background-color: #1daaa0;
    position: relative;
}

.list-group-item.list-group-item-action:first-child{
    color:white;
    background-color: #384363;
}

[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed
        {
            -webkit-transform: rotate(180deg);
            -moz-transform:    rotate(180deg);
            -ms-transform:     rotate(180deg);
            -o-transform:      rotate(180deg);
            transform:         rotate(180deg);
            transform-origin: 50% 25%;
        }

.list-group-item:last-child{
    margin-bottom: 10px;
}

.rotatingImg {
    cursor: pointer;
    height: 40px;
    position: absolute;
    width: 30px;
    right:2px;
    bottom:25%;
    top:25%;
    color: white;
    font-size: 24px;
    display: block;
}

@media screen and (max-width: 700px) {
    main{
        width:70%;
        left:15%;
    }
    
}