@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

a {
    color: white !important;
}
.main-canvas {
    height: 100vh;
    min-height: 800px;
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.cover {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.cover div {
    display: inline-block;
    cursor: pointer;
    padding: 10px 30px;
    background: black;
    margin: 0 10px;
}