<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Materii </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/materii-profesori/css/main.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="nav">
            <a class="logo" href="/" id="homeBtn" style="display: inline-block; text-decoration: none">
                <img src="/assets/materii-profesori/images/logo.svg" width="27px;" alt="home" style="display: inline-block;">&nbsp;&nbsp;&nbsp;GestiON
            </a>
            <div class="responsive-menu">
                <a class="nav-link responsive" href="/">Dashboard</a>
                <a class="nav-link responsive active" href="/materii-profesori">Materii</a>
                <a class="nav-link responsive nav-button" role="button">
                    <span class="nav-button-item" id="logOutBtn">
                        Deconectare
                    </span>
                </a>
            </div>
            <img class="menu" src="/assets/materii-profesori/images/menu.svg" alt="menu">
        </nav>
    </div>

    <div class="container dashboard-container">
        <button class="btn btn-primary" style="margin-bottom: 10px;" role="button" data-toggle="modal" data-target="#exampleModalCenter">Creează materie nouă</button>
        <div class="list-group" id="group">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleForm">Creare materie nouă</h5>
                    <button type="button" class="close" data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label>Nume materie</label>
                            <input type="text" class="form-control" id="nume" aria-describedby="usernameHelp" placeholder="Nume materie">
                        </div>
                        <div class="form-group">
                            <label>Descriere</label>
                            <input type="text" class="form-control" id="descriere" placeholder="Descriere">
                        </div>
                        <div class="form-group">
                            <label>An materie</label>
                            <select name="an" id="an" class="selectpicker">
                                <option value="0" selected disabled>An</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Semestru materie</label>
                            <select name="semestru" id="semestru" class="selectpicker">
                                <option value="0" selected disabled>Semestru</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <h6 class="error" id="err">&nbsp;</h6>
                        <button id="btn" type="submit" class="btn btn-primary">Creare materie</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="overlay-echipa"></div>
        <div class="container container-footer">

            <div class="footer-content row text-center">
                <div class="col-sm-4">
                    <h1>Proiect</h1>
                    <a href="">
                        Acasă
                    </a>
                    <a href="">
                        Despre
                    </a>
                    <a href="">
                        Echipă
                    </a>
                    <a href="">
                        Contact
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Mai mult</h1>
                    <a href="">
                        Logare
                    </a>
                    <a href="">
                        Înregistrare
                    </a>
                    <a href="">
                        Regulament
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Comunitate</h1>
                    <a href="">
                        Facebook
                    </a>
                    <a href="">
                        Twitter
                    </a>
                    <a href="">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/assets/materii-profesori/scripts/main.js"></script>
</body>

</html>