body {
	margin: 0;
	padding: 0;
    font-size: 16px;
    background: linen;
	line-height: 1.4em;
	color: #222;
	font-family: 'Raleway', sans-serif;
}

#faculty{
    width: 60;
    height:60;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0 5px 0;
}

.topPage{
    width: 100%;
    position: absolute;
	background: steelblue;
	position: fixed;
	z-index: 2;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.profile-pic{
    position: relative;
    top: 15%;
    left:8%;
    width:10%;
    display: block;
}
.student-name{
    position: relative;
    top:14%;
    left:7%;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;

}
.job{
    position: relative;
    top:14%;
    left:10%;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.container-left{
    height: 100%;
    width:90%;
}

.menu{
    margin-top:10%;
    margin-left:4%;

    
}
.menu a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}


.perosnal-description{
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
   
}

.description{
    position: relative;
    top:20%;
    left: 30%;
    width:50%;
    display:block;
    
}

#primul{
   width:13%;
   border-left-style: solid;

}
#primul:hover{
    background: lightgrey;
    opacity: 0.9;
    height: 3%;
}

#al-doilea{
    width:13%;
    border-left-style: solid;
 
 }
 #al-doilea:hover{
     background: lightgrey;
     opacity: 0.9;
     height: 3%;
 }
 #al-treilea{
    width:13%;
    border-left-style: solid;
 
 }
 #al-treilea:hover{
     background: lightgrey;
     opacity: 0.9;
     height: 3%;
 }

 #acasa{
    width:13%;
    border-left-style: solid;
 
 }
 #acasa:hover{
     background: lightgrey;
     opacity: 0.9;
     height: 3%;
 }

 #formular-parola{
    position: relative;
    top:30%;
    left: 45%;
    display: none;
    
 }

 .titlu-formular{
    margin-left:-2%;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
 }

 .sub-menu{
    margin-left:8px; 
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    color: steelblue;
 }