<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
    />

    <link rel="stylesheet" href="/assets/compara/css/main.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="nav">
            <a class="logo" href="#" style="display: inline-block; text-decoration: none">
                <img src="/assets/compara/images/logo.svg" width="27px;" alt="home" style="display: inline-block;">&nbsp;&nbsp;&nbsp;GestiON
            </a>
            <div class="responsive-menu">
                <a class="nav-link responsive" href="/">Dashboard</a>
                <a class="nav-link responsive" href="/materii">Materii</a>
                <a class="nav-link responsive nav-button" href="#" role="button">
                    <span class="nav-button-item" id="logOutBtn">
                        Deconectare
                    </span>
                </a>
            </div>
            <img class="menu" src="/assets/compara/images/menu.svg" alt="menu">
        </nav>
    </div>

    <div class="list-group" id="group">
        <a href="" class="list-group-item list-group-item-action flex-column align-items-start active" style="border-radius: 0;">
            <div class="d-flex w-100 justify-content-between">
                <h5 id="numeMaterie" class="mb-1">Materie: [[${numeMaterie}]]</h5>
            </div>
            <p class="mb-1">Tema: [[${numeTema}]]</p>
            <p class="mb-1">[[${numeExercitiu}]]</p>
            <p class="mb-1">[[${enunt}]]</p>
            <p class="mb-1">Extensie: .[[${extensie}]]</p>
        </a>
    </div>

    <div id="container-main">
        <div class="row" id="mainRow">
            <div class="col-md-6">
                <div class="col-12 title text-center" id="name1">
                    [[${nume1}]] [[${prenume1}]]
                </div>
                <div class="col-12 rows-table">
                    <table class="table" id="tableModel1"></table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12 title text-center" id="name2">
                    [[${nume2}]] [[${prenume2}]]
                </div>
                <div class="col-12 rows-table">
                    <table class="table" id="tableModel2"></table>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="overlay-echipa"></div>
        <div class="container container-footer">

            <div class="footer-content row text-center">
                <div class="col-sm-4">
                    <h1>Proiect</h1>
                    <a href="">
                        Acasa
                    </a>
                    <a href="">
                        Despre
                    </a>
                    <a href="">
                        Echipa
                    </a>
                    <a href="">
                        Contact
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Mai mult</h1>
                    <a href="">
                        Logare
                    </a>
                    <a href="">
                        Inregistrare
                    </a>
                    <a href="">
                        Regulament
                    </a>
                </div>
                <div class="col-sm-4">
                    <h1>Comunitate</h1>
                    <a href="">
                        Facebook
                    </a>
                    <a href="">
                        Twitter
                    </a>
                    <a href="">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script src="/assets/compara/scripts/main.js"></script>
</body>

</html>