<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GestiON</title>
    <link rel="stylesheet" href="/assets/404/css/main.css">
</head>

<body>
    <div class="container-fluid buttons-home">
        <img class="img-responsive" src="/assets/404/images/404.svg" alt="404" style="max-width: 50%;margin-top: 80px;"></img>
        <div class="container position">
            <p style="font-size:3vw;" id="serverMsg" th:text="${errorMessage} ? ${errorMessage} : 'Ai accesat o pagină inexistentă!'"></p>
        </div>
        <a href="/">
            <button type="submit" id="button" class="button-primary">Înapoi</button>
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</body>

</html>