<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GestiON</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/home-no-logged/css/main.css">
</head>

<body>
<span id="top" style="display: none"></span>
<div class="container-fluid nav-fixed">
    <nav class="nav">
        <a class="logo" href="#top" id="homeBtn" style="display: inline-block; text-decoration: none;">
            <img src="/assets/home-no-logged/images/logo.svg" width="27px;" alt="home" style="display: inline-block;">
            &nbsp;&nbsp;&nbsp; GestiON
        </a>
        <div class="responsive-menu">
            <a class="nav-link responsive" href="#top">Acasă</a>
            <a class="nav-link responsive" href="#despre-id">Despre</a>
            <a class="nav-link responsive" href="#coordonatori">Echipă</a>
            <a class="nav-link responsive" href="#contact-id">Contact</a>
            <a class="nav-link responsive nav-button" href="#" role="button" data-toggle="modal"
               data-target="#exampleModalCenter">
                    <span class="nav-button-item">
                        Logare
                    </span>
            </a>
        </div>
        <img class="menu" src="/assets/home-no-logged/images/menu.svg" alt="menu">
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleForm">Logare</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formLogin">
                    <div class="form-group">
                        <label for="username">Nume de utilizator</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                               placeholder="Introduceți numele">
                    </div>
                    <div class="form-group" id="dis">
                        <label for="password">Parolă</label>
                        <input type="password" class="form-control" id="password" placeholder="Parolă">
                    </div>
                    <h6 class="error" id="errLogin">&nbsp;</h6>
                    <button id="btn-log" type="submit" class="btn btn-primary">Logare</button>
                </form>

                <form id="formRegister" class="none">
                    <div class="form-group">
                        <label for="nr_matricol">Număr matricol</label>
                        <input type="text" class="form-control" id="nr_matricol" aria-describedby="usernameHelp"
                               placeholder="Număr matricol">
                    </div>
                    <h6 class="error" id="errRegister">&nbsp;</h6>
                    <button id="btn-reg" type="submit" class="btn btn-primary">Înregistrare</button>
                </form>
            </div>
            <div class="modal-footer" id="foot">
                <div class="container text-center">
                    <div class="row log-row text-center">
                        <div class="col-sm-12">
                            <a href="">Ai uitat parola?</a>
                        </div>
                    </div>
                    <div class="row log-row">
                        <div class="col-sm-12">
                            <a href="" id="register-btn">Nu ai un cont? Apasă aici.</a>
                        </div>
                    </div>
                    <div class="row none" id="reg-row">
                        <div class="col-sm-12">
                            <a href="" id="login-btn">Ai deja un cont? Apasă aici.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home-main">
    <div class="overlay"></div>
    <div class="container home">
        <h5 class="new"><span class="badge badge-success">Profesori</span>Creaza rapoarte pentru teme, publica solutii
            dupa deadline</h5>
        <h5 class="new"><span class="badge badge-success">Studenți</span>Încarcă teme pentru materiile la care ești
            înscris, vezi comentariile profesorilor</h5>

        <div class="content">
            <h1 class="header-title">
                GestiON, un serviciu pentru studenți
            </h1>
            <h2 class="section-text">
                Serviciul Facultății de Informatică pentru studenți unde aceștia pot încărca teme, verifica note și
                comunica cu profesorii ce îi notează!
            </h2>
            <h2 class="evident-text">
                Eficiență în comunicare și învățare!
            </h2>

            <div class="container buttons-home">
                <a href="/manual-inregistrare.pdf" target="_blank">
                    <div class="button-primary">
                        Sunt nou, cum încep?
                    </div>
                </a>
                <a href="https://github.com/alexmititelu/IngineriaProgramarii-B3-Proiect" target="_blank">
                    <div class="button-secondary">
                        GitHub
                    </div>
                </a>
            </div>

            <img class="home-img" src="/assets/home-no-logged/images/home.svg" alt="home">
        </div>
    </div>


    <!-- Despre -->
    <div class="container-fluid despre" id="despre-id">
        <div class="container despre-container">
            <div class="col-sm-12 text-center header-container">
                <h1 class="header-section">
                    Despre
                </h1>
            </div>
        </div>
        <div class="col-12 text-center sub-header">
            <h1>
                Făcut de studenți pentru studenți ...
            </h1>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="top">
                        <img src="/assets/home-no-logged/images/1.svg" alt="1">
                    </div>
                    <div class="text-semi">Vezi note</div>
                    <div class="info-card">
                        Verifică în timp real notele luate la temele încărcate!
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top">
                        <img src="/assets/home-no-logged/images/2.svg" alt="2">
                    </div>
                    <div class="text-semi">Încarcă teme</div>
                    <div class="info-card">
                        Rezolvă exercițiile propuse și încarcă soluțiile pentru a fi corectate de profesori!
                    </div>
                    <div class="try-btn" role="button" data-toggle="modal" data-target="#exampleModalCenter">
                        Încearcă
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top">
                        <img src="/assets/home-no-logged/images/3.svg" alt="3">
                    </div>
                    <div class="text-semi">Compară teme</div>
                    <div class="info-card">
                        După notare, compară-ți soluția cu cei mai buni și îmbunătățeste-ți abilitățile!
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Echipa -->
    <div class="container-fluid echipa" id="coordonatori">
        <div class="overlay-echipa"></div>
        <div class="container container-echipa">
            <div class="col-sm-12 text-left header-container">
                <h1 class="header-section header-section-left mb-0 pb-0">
                    Coordonatori
                </h1>
                <a class="nav-link responsive pl-0" target="_blank" href="/echipa.pdf">
                    <small style="color: white">Vezi echipa integrala</small>
                </a>
            </div>

            <div class="container text-center">
                <div class="row row-echipa justify-content-center">
                    <div class="col-md-4 echipa-card">
                        <div class="echipa-top">
                            <div class="img-pic">
                                <img src="/assets/home-no-logged/images/profil.png" alt="profil">
                            </div>
                        </div>
                        <div class="echipa-semi">
                            Cochior-Heghi Lucian
                        </div>
                        <div class="info-card">
                            Blonde, shaggy hair almost fully covers a craggy, tense face. Hollow brown eyes, set
                            graciously within their
                            sockets, watch enthusiastically over the tribes they've come to love for so long.
                            A birthmark reaching from just under the left eyebrow , running across the nose and ending
                            under his left eye
                            leaves a gracious memory of defended lands.
                        </div>
                    </div>

                    <div class="col-md-4 echipa-card">
                        <div class="echipa-top">
                            <div class="img-pic">
                                <img src="/assets/home-no-logged/images/profil.png" alt="profil">
                            </div>
                        </div>
                        <div class="echipa-semi">
                            Cojocaru Codrin
                        </div>
                        <div class="info-card">
                            Light blue, sleek hair awkwardly hangs over a bony, anguished face. Lidded aquamarine eyes,
                            set seductively
                            within their sockets, watch delightedly over the farms they've rarely felt at home at for so
                            long.
                            Fair skin gorgeously compliments his mouth and leaves a fascinating memory of his reckless
                            luck.
                        </div>
                    </div>

                    <div class="col-md-4 echipa-card">
                        <div class="echipa-top">
                            <div class="img-pic">
                                <img src="/assets/home-no-logged/images/profil.png" alt="profil">
                            </div>
                        </div>
                        <div class="echipa-semi">
                            Mititelu Alexandru
                        </div>
                        <div class="info-card">
                            Red, dreadlocks almost fully covers a long, lived-in face. Narrow gray eyes, set sunken
                            within their sockets,
                            watch delightfully over the ancestors they've looked after for so long.
                            Fallen debry left a mark stretching from just under the left eye , running towards the left
                            side of his lips
                            and ending on his right cheek leaves an agonizing memory of lost friends.
                        </div>
                    </div>
                </div>

                <div class="row row-echipa justify-content-center">
                    <div class="col-md-4 echipa-card">
                        <div class="echipa-top">
                            <div class="img-pic">
                                <img src="/assets/home-no-logged/images/profil.png" alt="profil">
                            </div>
                        </div>
                        <div class="echipa-semi">
                            Proca Teodor
                        </div>
                        <div class="info-card">
                            White, short hair almost fully covers a strong, menacing face. Sparkling black eyes,
                            set seductively within their sockets, watch devotedly over the farms they've fought for for
                            so long.
                            Fire has left a mark reaching from the bottom of the right cheek , first running towards his
                            fairly big lips
                            and ending on his right cheekbone leaves a grievous memory of his unfortunate past.
                        </div>
                    </div>

                    <div class="col-md-4 echipa-card justify-content-center">
                        <div class="echipa-top">
                            <div class="img-pic">
                                <img src="/assets/home-no-logged/images/profil.png" alt="profil">
                            </div>
                        </div>
                        <div class="echipa-semi">
                            Sbîngu Răzvan
                        </div>
                        <div class="info-card">
                            Silver, long hair hangs over a strong, frowning face. Darting gray eyes, set deep within
                            their sockets,
                            watch intently over the mines they've worshipped for so long.
                            Fallen debry left a mark reaching from just under the left eyebrow , running towards the
                            right side of
                            his lips and ending on his left cheekbone leaves a heartbreaking memory of innocence long
                            lost.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contact -->
<div class="container-fluid contact" id="contact-id">
    <div class="container container-contact">
        <div class="col-sm-12 text-center header-container">
            <h1 class="header-section">
                Contact
            </h1>
        </div>
        <div class="col-12 text-center sub-header">
            <h1>
                Pentru feeback, bug-reports sau orice altceva ne puteți găsi la oricare dintre adresele de mai jos.
            </h1>
        </div>

        <div class="row text-center">
            <div class="col-md-2 offset-md-3 col-sm-2 offset-sm-3 col-xs-4 icon">
                <a>
                    <img src="/assets/home-no-logged/images/facebook.svg" alt="facebook"
                         style="filter: grayscale(100%)">
                </a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 icon">
                <a>
                    <img src="/assets/home-no-logged/images/twitter.svg" alt="twitter" style="filter: grayscale(100%)">
                </a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 icon">
                <a href="https://github.com/alexmititelu/IngineriaProgramarii-B3-Proiect" target="_blank">
                    <img src="/assets/home-no-logged/images/github.svg" alt="github">
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid footer">
    <div class="overlay-echipa"></div>
    <div class="container container-footer">
        <div class="col-sm-12 text-center header-container">
            <h1 class="header-section">
                Salvează timp pentru învățat
            </h1>
        </div>
        <div class="container buttons-home text-center">
            <a href="/manual-inregistrare.pdf" target="_blank">
                <div class="button-primary">
                    Descoperă mai mult
                </div>
            </a>
            <a href="https://github.com/alexmititelu/IngineriaProgramarii-B3-Proiect" target="_blank">
                <div class="button-secondary">
                    GitHub
                </div>
            </a>
        </div>

        <div class="footer-content row text-center">
            <div class="col-sm-4">
                <h1>Proiect</h1>
                <a href="">
                    Acasă
                </a>
                <a href="/manual-de-utilizare.pdf">
                    Despre
                </a>
                <a href="">
                    Echipă
                </a>
                <a href="">
                    Contact
                </a>
            </div>
            <div class="col-sm-4">
                <h1>Mai mult</h1>
                <a href="">
                    Logare
                </a>
                <a href="">
                    Înregistrare
                </a>
                <a href="">
                    Regulament
                </a>
            </div>
            <div class="col-sm-4">
                <h1>Comunitate</h1>
                <a href="">
                    Facebook
                </a>
                <a href="">
                    Twitter
                </a>
                <a href="">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="/assets/home-no-logged/scripts/main.js"></script>
</body>

</html>