<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form method="POST" action="/register">
    <table>
        <tr><td>Nr Matricol:</td><td><input type="text" name="nr_matricol" id="nr_matricol" /></td></tr>
        <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
</body>
</html>