.loading-container{
    height: 100vh;
    width: 100%;
}

.loading-container h2{
    align-items: center;
    left: 50%;
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
}

.main-container{
    display: none;
}
