@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

:root {
    --main-color: #29324b;
    --main-border: #1daaa0;
    --light-border: #78ded7;

    --second-color: #a6b2d6;
    --menu-item: #8089a6;
    --menu-item-active: #eee;
    --button-menu: #384363;
    --button-menu-hover: #495782;
    --button-color: #e7ebf9;

    --text-main-color: #5ddfcb;
    --text-second-color: #8e9bac;
    --text-header-color: #3a4563;
    --text-main-light: #aaefeb;
    --text-link: #5fcac3;

    --header-section: #3b4563;

    --background: #f5f9fc;

    --footer-link: #b0c1d8;
}

* {
    font-family: 'Lato', sans-serif;
}

/* Home: */

.button-primary {
  background: var(--main-border);
  border-radius: 30px;
  box-shadow: 0 5px 13px 0 rgba(69,194,185,.44);
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 20px 15px 20px 0;
  padding: 15px 40px;
  transition: box-shadow .1s ease-in-out;
  border-width: 0px;
}
.button-primary:hover {
  box-shadow: 0 7px 13px 0 rgba(69,194,185,.98);
}
.button-primary-dropdown{
  padding: 10px;
}
.dropDowns .form-group{
  display: inline-block;
}
.error{
  display: inline-block;
}
.loading-text{
  position: absolute;
  left: 50%;
  top:42%;
  font-size: 35px;
  transform: translate(-50%,-50%);
}
.main-container{
  margin:50px 0px 0px 50px;
}
.none {
  display: none;
}
.overlay {
  background: #f5f9fc;
  -webkit-clip-path: polygon(33% 0, 100% 16%, 100% 75%, 37% 100%, 0 100%, 0 0);
  clip-path: polygon(33% 0, 100% 16%, 100% 75%, 37% 100%, 0 100%, 0 0);
  margin-bottom: -80px;
  min-height: 850px;
  height: auto;
  position: absolute;
  width: 100%;
  z-index:-1;
}
.loading-container{
    height: 100vh;
    width: 100%;
}

.loading-container h2{
    align-items: center;
    left: 50%;
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
}

.main-container{
    display: none;
    align-content: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-40%, -40%);
}
.main-container .form-group select{
    background-color:rgb(220,220,220);
}
.main-container .form-group input{
    background-color:rgb(220,220,220);
    color: black;
}
.main-container .form-group textarea{
    background-color:rgb(220,220,220);
    color: black;
}
.main-container .form-group #subject{
    width: 35.5%;
}
.button-primary {
    background: var(--main-border);
    border-radius: 30px;
    box-shadow: 0 5px 13px 0 rgba(69,194,185,.44);
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 20px 15px 20px 0;
    padding: 15px 40px;
    transition: box-shadow .1s ease-in-out;
    border-width: 0px;
  }
  .button-primary:hover {
    box-shadow: 0 7px 13px 0 rgba(69,194,185,.98);
  }
  .button-primary-dropdown{
    padding: 10px;
  }

  /* Responsive */

  @media screen and (max-width: 420px) {
    .main-container{
      margin:0px;
    }
    
    
}
