
#button{
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}
html, body, .container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    align-items: center;

}
.row{
    align-items: center;
}

@media screen and (max-width: 630px) {
    img  {
      display:none;
    }
  }