@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

:root {
    --main-color: #29324b;
    --main-border: #1daaa0;
    --light-border: #78ded7;

    --second-color: #a6b2d6;
    --menu-item: #8089a6;
    --menu-item-active: #eee;
    --button-menu: #384363;
    --button-menu-hover: #495782;
    --button-color: #e7ebf9;

    --text-main-color: #5ddfcb;
    --text-second-color: #8e9bac;
    --text-header-color: #3a4563;
    --text-main-light: #aaefeb;
    --text-link: #5fcac3;

    --header-section: #3b4563;

    --background: #f5f9fc;

    --footer-link: #b0c1d8;
}

* {
    font-family: 'Lato', sans-serif;
}


.mail-page {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background-color: rgb(27, 23, 23);
  }
  
  .mail-page .body {
    display: table-cell;
    vertical-align: middle;
  }
  
  
  .mail-page .intro-body .text {
    font-size: 18px;
  }
    
  .mail-page a{
      text-decoration: none;
      color:inherit;
  }